extends layout

block content
  h1 #{title}
  p #[Strong #{copy.book.title}]
  p id: #{copy._id}

  
  p Do you really want to delete this Book Instance?

  form(method='POST' action='')
    div.form-group
    input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=copy._id )

    button.btn.btn-primary(type='submit') Delete
